<h1>Create A New Movie</h1>
<%= form_with model: @movie do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.label :rating %>
  <%= form.text_field :rating %>

  <%= form.label :released_on %>
  <%= form.date_select :released_on, { start_year: 1920, end_year: Date.today.year }, {class:"date"} %>

  <%= form.label :total_gross %>
  <%= form.number_field :total_gross  %>

  <%= form.submit %>
<% end %>